@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



@font-face {
    font-family: 'Beach';
    src: url('./fonts/Beach-Regular.ttf') format('truetype');
}


html{
    background-color: var(--bg-color);
    background-image: url(./svgs/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

*{
    margin:0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, header span{
    font-family: 'Beach', serif;
    font-weight: unset;
}

ul{
    list-style: none;
}

body{
    height: 200vh;

} 

header{
    aspect-ratio: 650/422;

}

